Entity:
    fields:
        isValid:
            type: boolean
            option:
                default: false

        isDeleted:
            type: boolean
            option: 
                default: false
