<div class="table-responsive mailbox-messages">
    {% if true %}

        <table class="table table-bordered table-hover table-striped" id="bonInt">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Contact</th>
                <th>Ville</th>
                <th>Poste</th>
                <th>Service</th>
            </tr>
            </thead>
            <tbody>
            {% set cpCount = 0 %}
            {% for  %}

            {% endfor %}
            </tbody>
        </table>
        <!-- /.table -->
    {% else %}

    {% endif %}
</div>