{% extends "::template.html.twig" %}

{% block stylesheet %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/FadcoBundle/plugins/select2/select2.min.css') }}"/>
{% endblock %}
{# Le block à gauche #}
{% block sidebar %}
    <ul class="sidebar-menu">

        <li class="">&nbsp;</li>
        <li class="">&nbsp;</li>
        <li class="">&nbsp;</li>

        <li><a href="{{ path('fadco_espace_distributeur_reabo') }}"><i class=""></i>Réabonnement direct</a></li>

        <li><a href="{{ path('fadco_espace_distributeur_repair') }}"><i class=""></i> <span>Prestations</span></a></li>

    </ul>
{% endblock %}
