{% block gspbundle_biengarantiecheance_row %}
    <div class="row">
        <div class="col-sm-6">
            {{ form_widget(form.date) }}
        </div>
        <div class="col-sm-6">
            {{ form_widget(form.montant) }}
        </div>
    </div>
{% endblock %}