{% extends "GSPBundle:IndicateurPerformance:layout.html.twig" %}
{% from 'GSPBundle:IndicateurPerformance:macros.html.twig' import countbox %}
{% from 'GSPBundle:IndicateurPerformance:macros.html.twig' import countbox2 %}
{% from 'GSPBundle:IndicateurPerformance:macros.html.twig' import countbox3 %}
{% from 'GSPBundle:IndicateurPerformance:macros.html.twig' import chartbox %}

{% block title %}Archives{% endblock %}

{% block content %}
    <div class="row">
        {{ countbox('Dossiers physiques consultés', nbdossiersphysiquesconsultes, 'bg-green', 'fa-users') }}
        {{ countbox('Dossiers numériques consultés', nbdossiersnumeriquesconsultes, 'bg-blue', 'fa-users') }}
        {{ countbox('Nouveaux dossiers archivés', nbNouveauxDossiersArchives, 'bg-yellow', 'fa-users') }}
        {{ countbox('Dossiers actualisés', nbNouveauxDossiersActualises, 'bg-gray', 'fa-users') }}
    </div>
{% endblock %}