{% extends "GSPBundle:Default:menu.html.twig" %}

{% block title %}Indicateurs de Performance{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('bundles/GSPBundle/plugins/bootstrap-slider/last/bootstrap-slider.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/GSPBundle/plugins/jQueryfiler/css/jquery.filer.css') }}">
{% endblock %}

{% block content %}

    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h1 class="box-title">Indicateurs de Performance </h1>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive mailbox-messages">
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}

