<div style="z-index: 10000000" class="modal fade" id="formNouvelleDiscussionModal" role="dialog" aria-labelledby="formNouvelleDiscussionModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="formNouvelleDiscussionModalLabel">Nouvelle discussion</h4>
				<p style="color:red">* Nécessaire</p>
			</div>
			<div class="modal-body">
				
				<form class="">
					<div class="form-group" id="titre_form_nouvelle_discussion_form-group">
						<label for="texte">Titre :*</label>
						<input id="titre_form_nouvelle_discussion" type="text" class="form-control" placeholder="Taper le titre de la discussion">
					</div>
					<div class="form-group" id="sujet_form_nouvelle_discussion_form-group">
						<label for="textarea">Sujet :* </label>
						<textarea id="sujet_form_nouvelle_discussion" type="textarea" class="form-control" placeholder="Taper le sujet de la discussion"></textarea>
					</div>
                                        <div class="form-group" id="contacts_form_nouvelle_discussion_loading">
                                            <p style="text-align: center">Chargement des contacts . . .</p>
                                            <p style="text-align: center">
                                                <img src="{{ asset('bundles/lc/images/loading.gif') }}"/>
                                            </p>
					</div>
					<div class="form-group" id="contacts_form_nouvelle_discussion_form-group" style="display: none">
						<label for="contact_form_nouvelle_discussion">Sélectionner les contacts à ajouter :*</label>
						<span class="help-block">Au moins un contact</span>
						<select multiple id="contact_form_nouvelle_discussion" class="form-control" name="contact_form_nouvelle_discussion[]">

						</select>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
				<button onclick="validerFormNouvelleDiscussion();" type="button" class="btn btn-primary">Valider</button>
			</div>
		</div><!-- le contenu -->
    </div><!-- le modal -->
</div>