<div class="modal fade" id="modalEnvoyerImage" style="z-index: 10000000">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Envoyez une image</h4>
        </div>
        <div class="modal-body" style="text-align: center">
                <div id="form_image_div">
                            <div style="text-align: center">
                                {# style="max-width: 200px; max-height: 200px" #}
                                <img class="img-responsive" id="selected_image" src='#'/>
                            </div>
                            <form id="form_image" enctype="multipart/form-data">                             
                                <input hidden="hidden" type="text" name="discid" id="image_id" />
                                <input name="file" onChange="changer(this);" id="imageAenvoyer" type="file" accept="image/*" class="form-control" placeholder="Sélectionnez une image"/>
                                <div class="input-group">
					<input name="legende" id="legende" type="text" class="form-control" placeholder="Taper la légende"/>
					<span class="input-group-btn">
                                            <button onclick="demandeEnvoyerImage();" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span></button>
					</span>
				</div>
                            </form>
                        </div>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Fermer</a>
        </div>
      </div>
    </div>
</div>