<span id="nb_discs" class="chat_button" style="display: none; z-index: 100000000; color: red; font-weight: bold; font-size: 180%; margin-bottom: 40px; margin-left: 30px;" > </span>
<img id="chatbutton" style="display: none" onclick="openChat();" hidden="hidden" class="btn chat_button" src="{{ asset('bundles/lc/images/chatlogo.jpeg')}}"/>
<div hidden="hidden">
	<audio id="room_beep" src="{{ asset('bundles/lc/audio/room.mp3') }}" preload="auto"></audio>
	<audio id="disc_beep" src="{{ asset('bundles/lc/audio/disc.mp3') }}" preload="auto"></audio>
</div>