{% extends "FadcoBundle:Default:menu.html.twig" %}
{% block page_quick_actions %}
    <div>
        <a href=""><input type="button" class="btn btn-warning btn-xs"value="Retour"/></a>
        <a href=""><input type="button" class="btn btn-info btn-xs"value="Ajouter un nouveau distributeur"/></a>
    </div>
{% endblock %}

{% block content %}
    <section class="content">
              <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Oops! Page non trouvée.</h3>

          <p>
            Impossible de trouver la page que vous cherchez.
            Cependant, vous pouvez <a href="{{ path('grh_prestataire') }}">retourner à la page précédente</a> ou essayez le formulaire de recherche.
          </p>

          <form class="search-form">
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <!-- /.input-group -->
          </form>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
{% endblock %}

