{% extends "::base.html.twig" %}

{% block title %}FadcoBundle:Statistique:nbrAbonneByFormule{% endblock %}

{% block body %}
<h1>Welcome to the Statistique:nbrAbonneByFormule page</h1>
{% endblock %}
