{% extends "FadcoBundle:Distributeur:layout.html.twig" %}
{% from 'FadcoBundle:Distributeur:macros.html.twig' import countbox %}
{% from 'FadcoBundle:Distributeur:macros.html.twig' import countbox2 %}
{% from 'FadcoBundle:Distributeur:macros.html.twig' import countbox3 %}
{% from 'FadcoBundle:Distributeur:macros.html.twig' import chartbox %}

{% block title %}FADCO+ : distributeur{% endblock %}

{% block content %}
    <div class="row">
        {{ countbox('Nombre de réabonnement direct', nbrereabonnementdirect, 'bg-green', 'fa-home') }}
        {{ countbox('Nombre d\'installation ou réparation', nbreprestation, 'bg-blue', 'fa-home') }}
    </div>
{% endblock %}