#gspbot {
    
}

#gspbot-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: 9997;
}

#gspbot-icon {
    display: none;
    position: fixed;    
    width: 50px;
    height: 50px;
    line-height: 50px;    
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    background: green;    
    text-align: center;
    cursor: pointer;
    z-index: 9998;
}

#gspbot-icon .fa {
    margin: 12px;
    vertical-align: middle;
    color: #fff;        
    font-size: 24px;    
}

#gspbot-counter {
    display: none;
    position: fixed;
    bottom: 65px;
    right: 28px;
    padding: 2px 4px;
    font-size: 11px;
    line-height: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: rgb(232, 72, 59);
    box-shadow: rgba(153, 155, 155, 0.2) 0px 1px 1px 0px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 72, 59);
    z-index: 9998;
}

#gspbot-alert-box {
    display: none;
    position: fixed;
    width: 400px;
    height: auto;
    right: 80px;
    bottom: 90px;
    border-radius: 10px;
    border: 2px solid #e7e7e7;
    background-color: #fcfcfc;
    z-index: 9999; 
}

#triangle {
    position: fixed;
    bottom: 80px;
    right: 80px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 24px solid #e7e7e7;
    border-bottom: 12px solid transparent;
}

#triangle:after {
    content: '';
    position: absolute;
    bottom: -9px;
    right: -22px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 22px solid #fcfcfc;
    border-bottom: 10px solid transparent;
}

#gspbot-alert-box-content {
    padding: 15px;
    font-size: 16px;
    word-wrap: break-word;
}

#gspbot-alert-box-buttons {
    /*display: none;*/
    width: 100%;
    padding: 10px;
    bottom: 0;        
    text-align: right
}

#gspbot-alert-box-buttons .btn {
    margin-right: 5px;
}

#gspbot-zone {
    display: none;
    position: fixed;
    width: 350px;
    height: 100%;
    top: 0;
    right: 0;    
    background-color: #fff;
    border-left: 1px solid #e7e7e7;
    z-index: 9999;
}

#gspbot-zone .navbar {
    border-radius: 0;
    position: relative;
    margin-bottom: 0;
}

#gspbot-zone .navbar .container-fluid {
    padding: 0;
}

#gspbot-zone .navbar-section {    
    position: absolute;
    height: 100%;
}

#gspbot-zone .navbar-section.home {
    top: 0;
    left: 0;
    width: 50px;
    text-align: center;    
    border-right: 1px solid #e7e7e7;
}

#gspbot-zone .navbar-section.menu {
    top: 0;
    left: 50px;
    right: 50px;
    line-height: 50px;
    text-align: center;    
}

#gspbot-zone .navbar-section.menu > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#gspbot-zone .navbar-section .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

#gspbot-zone .navbar-section .dropdown-menu a {
    padding: 10px;
    text-align: center;
}

#gspbot-zone-close {
    right: 0;
    top: 0;
    width: 50px;
    padding: 18px 0;    
    text-align: center;    
    border-left: 1px solid #e7e7e7;
}

#gspbot-zone-content .tab-pane {
    max-height: 100%;
    height: 100%;
    margin: 0;
    overflow-y: auto;
}

.bot-message .message, .user-message .message{
    display: inline-block;
    padding: 5px 10px;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 10px;    
    border-radius: 5px;    
}

.bot-message {
    margin-right: 50px;
    text-align: left;
}

.bot-message .message {    
    background-color: #ffffff;
    border: 2px solid #e7e7e7;
}

.user-message {
    margin-left: 50px;
    text-align: right;
}

.user-message .message {    
    background-color: #ecf0f5;
    border: 2px solid #ecf0f5;
}

.user-input {

}

.chat-choice {
    list-style-type: none; 
    padding: 0;
}

.chat-choice li {
    display: inline-block;
    width: calc(50% - 10px);
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: #ecf0f5;
    border-radius: 8px;
    cursor: pointer;
}

.chat-choice li:hover {
    background-color: #edf1f6;
}
